.related-posts__item {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;

  border-radius: 8px;

  background-color: var(--off-white-v2);
}

.related-posts__item.grey-bg {
  background-color: var(--grey-white-v2);
}

.related-posts__media {
  position: relative;
  overflow: hidden;
  min-height: 280px;
}

.related-posts__img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;
  height: 100%;
  max-width: none;

  object-fit: cover;
}

.related-posts__content {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

@media screen and (max-width: 991px) {
  .related-posts__content {
    padding: 1rem;
  }
}

.related-posts__header {
  display: flex;
  justify-content: space-between;
}

.related-posts__date {
  color: #667085;
}

.blog-posts__title {
  font-family: var(--heading-font-v2);
  color: var(--dark-black-v2);
  font-size: 1.5rem;
  line-height: 2;
  font-weight: var(--font-weight-400);
}

.blog-posts__intro {
  color: #667085;
  font-size: 1em;
  line-height: 2;
}

.flex-block {
  margin-top: auto;
}

.btn-v2 {
  position: relative;

  display: flex;
  overflow: hidden;
  padding: 1.0625rem 2rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-radius: 62px;

  background-color: var(--red-v2);

  transition: color 400ms ease-in-out,border-color 400ms ease-in-out,background-color 400ms ease-in-out;

  color: var(--off-white-v2);
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 900;
  text-align: center;
}

.btn-v2:where(.w-variant-ee21d2df-0d29-8364-b0c4-0799d607b267) {
  background-color: var(--orange-v2);
}

.btn-v2:hover {
  border-color: var(--dark-black-v2);
}

.btn-v2:focus {
  border-color: #383838;
  background-color: hsla(0, 0.00%, 22.00%, 1.00);
}

.btn-v2.btn-v2--secondary {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;

  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: var(--warning-v2);
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: var(--warning-v2);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--warning-v2);
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: var(--warning-v2);

  transition-property: background-color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;

  color: var(--warning-v2);

  background-color: transparent;
}

.btn-v2.btn-v2--secondary:hover {
  border-color: var(--dark-black-v2);
  color: var(--off-white-v2);
}

.btn-v2.btn-v2--secondary:focus {
  color: #383838;
}

.btn-v2.btn-v2--secondary.is--blue {
  border-color: var(--heading-color-v2);
  color: var(--heading-color-v2);
}

.btn-v2.btn-v2--secondary.is--blue:hover {
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .btn-v2.btn-v2--secondary.is--blue.sw-modal__open.type-1.mobile-w-100 {
    width: 100%;
  }
}

.btn-v2.btn-v2--secondary.is--blue.smaller {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn-v2.btn-v2--secondary.is--white {
  border-color: var(--off-white-v2);
  color: var(--off-white-v2);
}

.is--white {
  color: var(--grey-white-v2);
}

.hidden-desktop {
  display: none;
}

@media screen and (max-width: 767px) {
  .hidden-desktop {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .btn-v2.btn-v2--secondary.is--white.hiddenn-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .btn-v2.btn-v2--secondary.is--white.bg--blur {
    background-color: rgba(255,255,255,0.01);
    backdrop-filter: blur(5px);
  }
}

@media screen and (max-width: 767px) {
  .btn-v2.btn-v2--secondary.is--white.bg--blur.hidden-desktop {
    min-width: 250px;
    backdrop-filter: blur(20px);
  }
}

.btn-v2.btn-v2--secondary.is-hover {
  border-color: var(--dark-black-v2);
  color: var(--off-white-v2);
}

.btn-v2.btn-v2--secondary.is-inactive {
  border-color: var(--light-grey-v2);
}

.btn-v2.btn-v2--text {
  padding-right: 0rem;
  padding-left: 0rem;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  color: var(--warning-v2);
  font-size: 1.25rem;
  font-weight: var(--font-weight-400);

  background-color: transparent;

  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.btn-v2.btn-v2--text:hover {
  color: var(--black-v2);
}

.btn-v2.btn-v2--text:focus {
  color: #383838;
}

@media screen and (max-width: 991px) {
  .btn-v2.btn-v2--text {
    font-size: 1rem;
  }
}

.btn-v2.btn-v2--text.btn-v2--white {
  display: none;
  color: var(--off-white-v2);
}

@media screen and (min-width: 1280px) {
  .btn-v2.btn-v2--text.btn-v2--white {
    display: flex;
  }
}

.btn-v2.btn-v2--text.btn-v2--dark {
  color: var(--black-v2);
}

@media screen and (max-width: 991px) {
  .btn-v2.btn-v2--text.btn-v2--dark.hide {
    display: none;
  }
}

.btn-v2.btn-v2--text.hidden-on-desktop {
  display: none;
}

@media screen and (max-width: 991px) {
  .btn-v2.btn-v2--text.hidden-on-desktop {
    display: flex;
  }
}

.btn-v2.btn-v2--text.btn--resubmit.btn--resubmit-v2 {
  padding: 0.5rem 2rem;
  font-size: 0.875rem;
  line-height: 2.28;
  font-weight: var(--font-weight-900);
}

.btn-v2.btn-v2--text.no-padd {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.btn-v2.btn-v2--text.is--white-v2 {
  color: var(--off-white-v2);
}

.is--white-v2 {
  color: var(--off-white-v2);
}

.btn-v2.btn-v2--text.btn-v2--blue {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 991px) {
  .btn-v2.btn-v2--text.btn-v2--blue.hide {
    display: none;
  }
}

.btn-v2.btn-v2--text.btn-v2--blue.font-size-inherit {
  font-size: inherit;
}

.btn-v2.btn-v2--text.btn-v2--blue.alt-test-btn:where(.w-variant-b83fe949-1c31-1e73-84ea-b1d8e2b0b8f0) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: var(--font-weight-900);
}

.btn-v2.btn-v2--nav {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
}

@media screen and (min-width: 1280px) {
  .btn-v2.btn-v2--nav {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 991px) {
  .btn-v2.btn-v2--nav {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.btn-v2.btn-v2--nav.btn-v2--secondary.has-icon {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.btn-v2.btn-v2--nav.btn-v2--secondary.btn-cta-phone {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  grid-column-gap: 0.1rem;
  grid-row-gap: 0.1rem;

  border-style: none;

  font-size: 1.25rem;
}

@media screen and (max-width: 991px) {
  .btn-v2.btn-v2--nav.btn-v2--secondary.btn-cta-phone {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 479px) {
  .btn-v2.btn-v2--nav.btn-v2--secondary.btn-cta-phone {
    padding-top: 0rem;
    padding-bottom: 0rem;
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
  }
}

.btn-v2.is--big {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (max-width: 991px) {
  .btn-v2.is--big {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }
}

.btn-v2.icon-edge {
  padding-right: 4rem;
}

.btn-v2.transparent {
  background-color: transparent;
}

.btn-v2.no--wrap {
  white-space: nowrap;
}

@media screen and (max-width: 479px) {
  .hidden-on-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .btn-v2.hidden-mobile {
    display: none;
  }
}

.btn-v2.btn-v2--tertiary {
  background-color: var(--heading-color-v2);
}

.btn-v2.btn-v2--tertiary.form-trigger {
  color: var(--off-white-v2);
}

.btn-v2.btn-v2--faq {
  margin-bottom: 0px;
  padding: 0.5rem 2rem 0.5rem 1rem;
  background-color: var(--grey-white-v2);
  color: var(--heading-color-v2);
}

.btn-v2.btn-v2--tertiary-inverted {
  background-color: var(--off-white-v2);
  color: var(--heading-color-v2);
}

.btn-v2.btn-v2--tertiary-inverted:hover {
  color: var(--off-white-v2);
}

.btn-v2.fs-big {
  font-size: 1.25rem;
}

.btn-v2.btn-v2--pink {
  background-color: var(--pink-v2);
}

.btn-v2.size--big {
  font-size: 1.25rem;
}

.btn-v2.size--big.btn-v2--orange {
  background-color: var(--orange-v2);
}

@media screen and (max-width: 479px) {
  .btn-v2.size--big.btn-v2--orange {
    align-self: center;
  }
}

.btn-v2.btn-v2--orange {
  background-color: var(--orange-v2);
}

@media screen and (max-width: 479px) {
  .btn-v2.btn-v2--orange {
    text-align: left;
  }
}

.btn-v2.orange-pink-6 {
  background-color: var(--orange-v2);
}

.btn-v2.btn-v2--top-auto {
  margin-top: auto;
}

.btn-v2.btn-v2--independence {
  background-color: var(--blue-v2);
}

.btn-v2.bg-summer {
  background-image: linear-gradient(101deg, #fdd54a, #e86568);
}

.btn-v2.is-inactive {
  background-color: var(--grey-white-v2);
  pointer-events: none;
  color: var(--light-grey-v2);
  cursor: not-allowed;
}