.footer-social-v2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

@media screen and (max-width: 767px) {
  .footer-social-v2 {
    justify-content: center;
  }
}

.footer-social__link-v2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-social__icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}