.hidden-form-styling {
  display: none;
}

.hidden-form-variables {
  display: none;
}

.hidden-form-functions {
  display: none;
}

.hidden-form-location-days-out {
  display: none;
}

.hidden-form-logic {
  display: none;
}

.hidden-form-address {
  display: none;
}