.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media screen and (min-width: 1280px) {
  .header-menu {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.dropdown {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.dropdown-btn {
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  font-family: PtSans;
  color: var(--white);
  font-weight: 400;
}

.header-link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: color 200ms ease;

  font-family: PtSans;
  color: var(--black);
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .header-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .header-link:global(.w--current) {
    color: var(--menu-item-hover);
  }
}

.header-link:hover {
  color: var(--menu-item-hover);
}

.header-link:focus {
  color: var(--menu-item-hover);
}

.header-link:global(.w--current) {
  color: var(--menu-item-hover);
}

.dropdown-icon {
  display: none;
  margin-left: auto;
  transition: transform 200ms ease;
}

.dropdown-list {
  width: auto;
  min-width: 230px;
  background-color: #8b8b8b;
}

.dropdown-list.dropdown-list--v1 {
  background-color: transparent;
}

.dropdown-list.dropdown-list--v1:global(.w--open) {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .dropdown-list__inner {
    margin-top: 12px;
    padding-top: 14px;
    padding-bottom: 20px;
    border: 1px solid #bfbebd;
    background-color: var(--header-background);
  }
}

.dropdown-link {
  padding: 10px;

  transition: color 200ms ease;

  font-family: PtSans;
  color: var(--white);
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .dropdown-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .dropdown-link:global(.w--current) {
    color: var(--menu-item-hover);
  }
}

.dropdown-link:hover {
  color: var(--black);
}

.dropdown-link:focus {
  color: var(--menu-item-hover);
}

.dropdown-link:global(.w--current) {
  color: var(--menu-item-hover);
}

.hidden {
  display: none;
}

.dropdown-link.dropdown-link--main {
  font-weight: 700;
}

@media screen and (min-width: 1280px) {
  .dropdown-link.dropdown-link--main {
    font-size: 16px;
  }
}