.difference-grid-v2__item {
  position: relative;

  display: flex;
  overflow: hidden;
  min-height: 540px;
  padding: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-radius: 8px;

  background-color: var(--grey-white-v2);
}

@media screen and (max-width: 767px) {
  .difference-grid-v2__item.splide__slide {
    min-height: 450px;
  }
}

.splide__slide {
  position: relative;
}

.difference-grid-v2__image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  border-radius: 8px;

  object-fit: cover;
}

.difference-grid-v2__content {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.h5-v2 {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: var(--heading-font-v2);
  color: var(--heading-color-v2);
  font-size: 2.5rem;
  line-height: 125%;
  font-weight: var(--font-weight-400);
}

@media screen and (max-width: 991px) {
  .h5-v2 {
    font-size: 1.5rem;
  }
}

.card-v2-alt__title {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: var(--off-white-v2);
  font-size: 3rem;
  font-weight: var(--font-weight-400);
}

@media screen and (max-width: 991px) {
  .card-v2-alt__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .card-v2-alt__title {
    font-size: 1.5rem;
  }
}

.is--white-v2 {
  color: var(--off-white-v2);
}

.weight--black {
  font-weight: 900;
}

.text-align--center {
  text-align: center;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 991px) {
  .h5-v2.is--white-v2.mobile-bold {
    font-weight: var(--font-weight-900);
  }
}

@media screen and (max-width: 479px) {
  .h5-v2.text-align--center.mobile-mw-250 {
    max-width: 250px;
  }
}

@media screen and (max-width: 991px) {
  .h5-v2.text-align--center.is--white-v2.hidden-desktop {
    display: block;
  }
}

.hidden-desktop {
  display: none;
}

@media screen and (max-width: 767px) {
  .hidden-desktop {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .hidden-tablet {
    display: none;
  }
}

.weight--bold {
  font-weight: 800;
}

.h5-v2.text-align--center.mobile-h6-v2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--black-v2);
}

@media screen and (max-width: 767px) {
  .h5-v2.text-align--center.mobile-h6-v2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .h5-v2.text-align--center.mobile-h6-v2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
    font-size: 2rem;
  }
}

.is--black-v2 {
  color: var(--black-v2);
}

.h5-v2.text-align--center.weight--black {
  font-size: 1.75rem;
}

@media screen and (min-width: 1440px) {
  .h5-v2.text-align--center.weight--black {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .h5-v2.text-align--center.weight--black {
    font-size: 1.25rem;
  }
}

.is--red-v2 {
  color: var(--red-v2);
}

@media screen and (max-width: 479px) {
  .h5-v2.is--black-v2.text-align--center.mobile-h6-v2 {
    align-self: auto;
  }
}

.h5-v2.is--black-v2.mobile-h6-v2 {
  display: block;
}

@media screen and (max-width: 767px) {
  .h5-v2.is--black-v2.mobile-h6-v2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .h5-v2.is--black-v2.mobile-h6-v2 {
    align-self: flex-start;
  }
}

@media screen and (max-width: 991px) {
  .tablet-text-align--center {
    text-align: center;
  }
}

.color-heading-v2 {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 767px) {
  .color-heading-v2 {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .h5-v2.m-h5 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .h5-v2.m-h5.m-text-align--left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .m-text-align--left {
    text-align: left;
  }
}

.h10-v2 {
  color: var(--black-v2);
  font-size: 1rem;
  line-height: 150%;
}

@media screen and (max-width: 991px) {
  .h10-v2.weight--black {
    color: var(--heading-color-v2);
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .h10-v2.weight--black {
    font-size: 0.875rem;
  }
}

.h10-v2.color-heading-v2 {
  color: var(--heading-color-v2);
  font-weight: 500;
}

.h10-v2.color-heading-v2.is--bold {
  font-weight: 900;
}

.is--bold {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .h10-v2.color-heading-v2.is--bold.text-align--center.mobile-text-align--left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .h10-v2.color-heading-v2.is--bold.text-align--center.mobile-text-align--left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .h10-v2.color-heading-v2.is--bold.mobile-h9 {
    font-size: 1.25rem;
  }
}

.h10-v2.color-heading-v2.weight--black {
  font-weight: 900;
}

.h10-v2.color-heading-v2.is--bold-700 {
  font-weight: 700;
}

.h10-v2.color-heading-v2.lh-200 {
  line-height: 200%;
}

@media screen and (max-width: 991px) {
  .read-more-tablet {
    display: none;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .h10-v2.color-heading-v2.mobile-text-align--left {
    text-align: left;
  }
}

.h10-v2.is--red-v2 {
  color: var(--red-v2);
}

.h10-v2.is--red-v2:global(.w--current) {
  color: var(--red-v2);
}

.h10-v2.is--red-v2.lh-2 {
  line-height: 200%;
}

.h10-v2.is--dark-black-v2 {
  color: var(--dark-black-v2);
}

.is--dark-black-v2 {
  color: var(--dark-black-v2);
}

.h10-v2.is--dark-black-v2.text-align--center.lh-200 {
  line-height: 200%;
  font-weight: 500;
}

.h10-v2.is--dark-grey-v2 {
  color: var(--dark-grey-v2);
}

.h10-v2.is--dark-grey-v2.lh-2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--black-v2);
}

.h10-v2.is--dark-grey-v2.lh-2:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  color: var(--off-white-v2);
}

.color-inherit {
  color: inherit;
}

.h10-v2.is--dark-grey-v2.weight--medium {
  font-weight: 500;
}

.weight--medium {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .h10-v2.is--dark-grey-v2.mobile-text-align--center {
    text-align: center;
  }
}

.text-align--left {
  text-align: left;
}

.h10-v2.lh-2 {
  line-height: 200%;
}

.h10-v2.mb-1 {
  margin-bottom: 1rem;
}

.h10-v2.mb-1.mt-1 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.h10-v2.is--white-v2 {
  color: var(--off-white-v2);
}

.h10-v2.is--white-v2.lh-160 {
  line-height: 160%;
}

@media screen and (max-width: 991px) {
  .h10-v2.is--white-v2.weight--black {
    color: var(--off-white-v2);
    font-weight: 900;
  }
}

.h10-v2.is--white-v2.weight--bold.lh-200 {
  line-height: 200%;
}

.h10-v2.is--white-v2.text-align--center.lh-200 {
  line-height: 200%;
}

@media screen and (max-width: 479px) {
  .h10-v2.is--white-v2.text-align--center.mobile-fs10 {
    font-size: 0.625rem;
  }
}

.h10-v2.weight--medium {
  font-weight: 500;
}

.h10-v2.weight--medium.color-inherit {
  color: inherit;
}

.h10-v2.lh-200 {
  line-height: 200%;
}

.h10-v2.lh-200.color-heading-v2 p {
  margin-bottom: 0rem;
}

.h10-v2.is--black-2-v2 {
  color: var(--black-2-v2);
}

@media screen and (max-width: 767px) {
  .h10-v2.is--black-2-v2.lh-2.m-text-align--left {
    text-align: left;
  }
}

.is--black2-v2 {
  color: var(--black-2-v2);
}

@media screen and (max-width: 767px) {
  .h10-v2.is--black2-v2.mobile-h12 {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 479px) {
  .h10-v2.is--black2-v2.mobile-h12 {
    font-size: 0.75rem;
  }
}

.h10-v2.is--dark-grey {
  color: var(--dark-grey-v2);
}

.difference-grid-v2__content-extra {
  display: none;
}

.rich-text-v2 {
  color: var(--off-white-v2);
  line-height: 160%;
}

.difference-grid-v2__trigger {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 2;

  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.1);

  transition: all 300ms cubic-bezier(.455, .03, .515, .955);

  cursor: pointer;
}

.difference-grid-v2__trigger:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.images-grid-v2__ico {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  display: flex;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  font-size: 1em;
}