.container-v2 {
  width: 100%;
  max-width: 1712px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5rem;
  padding-left: 5rem;
}

.container-v2:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  background-color: var(--pink-light-v2);
}

@media screen and (max-width: 991px) {
  .container-v2 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .container-v2.pr-0-mobile {
    padding-right: 0rem;
  }
}

.bg-grey-white {
  background-color: var(--grey-white-v2);
}

.container-v2.relative {
  position: relative;
  z-index: 2;
}

.container-v2.sitemap {
  max-width: 1280px;
}

@media screen and (min-width: 1440px) {
  .container-v2.sitemap {
    max-width: 1504px;
  }
}

.sitemap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

@media screen and (max-width: 767px) {
  .px-0-mobile {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .container-v2.ptx-0 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.relative-10 {
  position: relative;
  z-index: 10;
}

.relative-100 {
  position: relative;
  z-index: 100;
}

.container-v2.ptx-0.pdx-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media screen and (max-width: 991px) {
  .container-v2.ptx-0.pdx-24 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .container-v2.px-0-tablet {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .px-0-tablet {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.section-header-small-v2 {
  display: flex;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.section-header-small-v2.mb-40 {
  margin-bottom: 3.5rem;
}

.section-header-small-v2.mb-1 {
  margin-bottom: 1rem;
}

.section-header-small-v2.bigger {
  max-width: 1100px;
}

.mb-32 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .section-header-small-v2.mobile-left {
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .section-header-small-v2.mobile-left {
    align-items: flex-start;
  }
}

.h5-v2 {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: var(--heading-font-v2);
  color: var(--heading-color-v2);
  font-size: 2.5rem;
  line-height: 125%;
  font-weight: var(--font-weight-400);
}

@media screen and (max-width: 991px) {
  .h5-v2 {
    font-size: 1.5rem;
  }
}

.card-v2-alt__title {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: var(--off-white-v2);
  font-size: 3rem;
  font-weight: var(--font-weight-400);
}

@media screen and (max-width: 991px) {
  .card-v2-alt__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .card-v2-alt__title {
    font-size: 1.5rem;
  }
}

.is--white-v2 {
  color: var(--off-white-v2);
}

.weight--black {
  font-weight: 900;
}

.text-align--center {
  text-align: center;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 991px) {
  .h5-v2.is--white-v2.mobile-bold {
    font-weight: var(--font-weight-900);
  }
}

@media screen and (max-width: 479px) {
  .h5-v2.text-align--center.mobile-mw-250 {
    max-width: 250px;
  }
}

@media screen and (max-width: 991px) {
  .h5-v2.text-align--center.is--white-v2.hidden-desktop {
    display: block;
  }
}

.hidden-desktop {
  display: none;
}

@media screen and (max-width: 767px) {
  .hidden-desktop {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .hidden-tablet {
    display: none;
  }
}

.weight--bold {
  font-weight: 800;
}

.h5-v2.text-align--center.mobile-h6-v2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--black-v2);
}

@media screen and (max-width: 767px) {
  .h5-v2.text-align--center.mobile-h6-v2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .h5-v2.text-align--center.mobile-h6-v2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
    font-size: 2rem;
  }
}

.is--black-v2 {
  color: var(--black-v2);
}

.h5-v2.text-align--center.weight--black {
  font-size: 1.75rem;
}

@media screen and (min-width: 1440px) {
  .h5-v2.text-align--center.weight--black {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .h5-v2.text-align--center.weight--black {
    font-size: 1.25rem;
  }
}

.is--red-v2 {
  color: var(--red-v2);
}

@media screen and (max-width: 479px) {
  .h5-v2.is--black-v2.text-align--center.mobile-h6-v2 {
    align-self: auto;
  }
}

.h5-v2.is--black-v2.mobile-h6-v2 {
  display: block;
}

@media screen and (max-width: 767px) {
  .h5-v2.is--black-v2.mobile-h6-v2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .h5-v2.is--black-v2.mobile-h6-v2 {
    align-self: flex-start;
  }
}

@media screen and (max-width: 991px) {
  .tablet-text-align--center {
    text-align: center;
  }
}

.color-heading-v2 {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 767px) {
  .color-heading-v2 {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .h5-v2.m-h5 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .h5-v2.m-h5.m-text-align--left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .m-text-align--left {
    text-align: left;
  }
}

.is--pink-v2 {
  color: var(--pink-v2);
}

.is--pink-v2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--pink-v2);
}

.is--pink-v2:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  color: var(--heading-color-v2);
}

.is--pink-v2.base-blue {
  color: var(--heading-color-v2);
}

.is--pink-v2.base-blue:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--pink-v2);
}

.h9-v2 {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: var(--heading-font-v2);
  font-size: 1.25rem;
  line-height: 2;
  font-weight: var(--font-weight-400);
}

@media screen and (max-width: 991px) {
  .h9-v2 {
    font-size: 1rem;
  }
}

.h9-v2.is--white-v2:where(.w-variant-ee21d2df-0d29-8364-b0c4-0799d607b267) {
  color: var(--heading-color-v2);
}

.h9-v2.is--white-v2.is--bold {
  color: var(--off-white-v2);
}

.h9-v2.is--white-v2.is--bold:where(.w-variant-ee21d2df-0d29-8364-b0c4-0799d607b267) {
  color: var(--heading-color-v2);
}

.is--bold {
  font-weight: 700;
}

.h9-v2.is--white-v2.is--bold.orange-pink-5 {
  color: var(--heading-color-v2);
}

.h9-v2.is--white-v2.orange-pink-3 {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 767px) {
  .h9-v2.is--white-v2.text-align--center.lh-166 {
    font-size: 1.25rem;
    line-height: 2;
  }
}

.lh-166 {
  line-height: 1.66;
}

.h9-v2.is--white-v2.text-align--center.lh-166 p {
  margin-bottom: 0rem;
}

@media screen and (max-width: 479px) {
  .h9-v2.is--white-v2.weight--black.mobile-h9 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .h9-v2.is--white-v2.weight--black.mobile-h9.mobile-text-align--center {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .h9-v2.is--white-v2.weight--black.is--bigger {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .h9-v2.is--white-v2.mobile-h11 {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 479px) {
  .h9-v2.is--white-v2.is--mob-smaller {
    font-size: 0.875rem;
  }
}

.weight--medium {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .h9-v2.is--white-v2.weight--medium.m-h9 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .m-h9 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .h9-v2.is--white-v2.m-text-align--left {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .h9-v2.is--white-v2.m-text-align--left.m-h9 {
    font-size: 1.25rem;
  }
}

.h9-v2.is--red-v2 {
  display: inline-block;
}

.line-height-1 {
  line-height: 1;
}

.h9-v2.is--red-v2.line-height-1-5 {
  line-height: 1.5;
}

.h9-v2.is--red-v2.weight--medium {
  font-weight: 500;
}

.h9-v2.is--red-v2.weight--medium:where(.w-variant-9c9cc5e3-5d94-82d4-e323-e095138cf1dc) {
  color: var(--pink-v2);
}

.h9-v2.is--bold {
  color: var(--dark-grey-v2);
  font-weight: var(--font-weight-900);
}

.h9-v2.is--bold.is--red-v2 {
  color: var(--red-v2);
}

.h9-v2.is--bold.color-heading-v2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--black-v2);
}

.h9-v2.is--bold.color-heading-v2:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  color: var(--off-white-v2);
}

.h9-v2.color-heading-v2 {
  color: var(--heading-color-v2);
}

.h9-v2.color-heading-v2.is--bold {
  color: var(--heading-color-v2);
  font-weight: 800;
}

@media screen and (max-width: 991px) {
  .h9-v2.color-heading-v2.is--bold.text-align--center {
    font-size: 1.25rem;
  }
}

.h9-v2.color-heading-v2.weight--medium {
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .h9-v2.color-heading-v2.text-align--center {
    font-family: var(--heading-font-v2);
  }
}

@media screen and (max-width: 991px) {
  .h9-v2.color-heading-v2.weight--black.text-align--center.mobile-h9 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .h9-v2.color-heading-v2.weight--black.is--bigger-tablet {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .h9-v2.color-heading-v2.weight--black.is--mob-bigger {
    font-size: 1.25rem;
  }
}

.h9-v2.color-heading-v2.is--semibold {
  font-weight: 700;
}

.h9-v2.style--subheading {
  margin-bottom: 1rem;
  color: var(--heading-color-v2);
  font-weight: var(--font-weight-900);
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.h9-v2.style--subheading.lh-160 {
  line-height: 160%;
}

.h9-v2.text-align--center:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--black-v2);
}

.h9-v2.text-align--center:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  color: var(--heading-color-v2);
}

.h9-v2.text-align--center.weight--black.lh-160 {
  line-height: 160%;
}

.h9-v2.text-align--center.weight--black.lh-160.ls-48 {
  letter-spacing: 4.8px;
}

.is--green-v2 {
  color: #4FC268;
}

.is--dark-black-v2 {
  color: var(--dark-black-v2);
}

@media screen and (max-width: 991px) {
  .h9-v2.is--black-v2.is--lp {
    font-size: 1.25rem;
  }
}

.h9-v2.is--black-v2.weight--black.lh-150 {
  line-height: 150%;
}

@media screen and (max-width: 767px) {
  .h9-v2.is--black-v2.mobile-h9-big {
    font-size: 1.25rem;
  }
}

.h9-v2.is--bold-700 {
  font-weight: 700;
}

.h9-v2.lh-150 {
  line-height: 150%;
}

@media screen and (max-width: 991px) {
  .h9-v2.lh-150.is--white-v2.weight--black.is--mob-bigger {
    font-size: 1.25rem;
  }
}

.h9-v2.lh-166.color-heading-v2 p {
  margin-bottom: 0rem;
}

@media screen and (max-width: 767px) {
  .h9-v2.lh-166.color-heading-v2.is--h8-mob {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .h9-v2.is--mob-smaller {
    font-size: 0.875rem;
  }
}

.is-summer-orange {
  color: var(--summer-orange-v2);
}

.is--black2-v2 {
  color: var(--black-2-v2);
}

@media screen and (max-width: 767px) {
  .h9-v2.mobile-h12-bold {
    font-size: 0.75rem;
    font-weight: var(--font-weight-900);
  }
}

@media screen and (max-width: 479px) {
  .h9-v2.mobile-h11 {
    font-size: 0.875rem;
  }
}

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .py-48 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.checklist-v2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.checklist-v2.free-wrap {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 767px) {
  .checklist-v2.free-wrap {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 991px) {
  .checklist-v2.free-wrap.mobile-col {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .checklist-v2.free-wrap.mobile-col {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .checklist-v2.mobile-gap {
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;
  }
}

.checklist-v2__item {
  display: flex;
  min-height: 40px;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-radius: 100px;

  background-color: rgba(253, 253, 253, 0.12);

  backdrop-filter: blur(13px);
}

.checklist-v2__item.is--dark {
  padding: 0.25rem 1.5rem;
  border: 2px solid #e4e4e4;
}

@media screen and (max-width: 767px) {
  .checklist-v2__item.is--dark {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.checklist-v2__item.is--dark.is--transparent {
  border-width: 0px;
  background-color: transparent;
  color: var(--green-v2);
}

.checklist-v2__item.is--dark.is--transparent:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--pink-v2);
}

.checklist-v2__item.is--dark.is--transparent:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  color: var(--orange-v2);
}

@media screen and (max-width: 767px) {
  .checklist-v2__item.is--dark.is--transparent {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .checklist-v2__item.is--dark.is--transparent.mobile-style-2 {
    color: var(--heading-color-v2);
  }
}

@media screen and (max-width: 479px) {
  .checklist-v2__item.is--dark.is--transparent.mobile-style-2 {
    padding-right: 0rem;
    padding-left: 0rem;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .checklist-v2__item.is--dark.is--transparent.mobile-style-2.mobile-red {
    color: var(--red-v2);
  }
}

.checklist-v2__item.is--dark.is--transparent.on-white {
  color: var(--brown-v2);
}

.checklist-v2__item.is--dark.is--transparent.indep-day {
  color: var(--blue-v2);
}

@media screen and (max-width: 767px) {
  .checklist-v2__item.is--dark.is--transparent.indep-day {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.svg-icon {
  display: flex;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  font-size: 1em;
}

.svg-icon.dropdown-v2-menu-icon {
  width: auto;
  height: 50px;
}

.dropdown-v2-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  font-size: 0.5rem;
}

@media screen and (max-width: 991px) {
  .dropdown-v2-icon {
    display: flex;
  }
}

.svg-icon.acc-footer-icon {
  display: none;
}

@media screen and (max-width: 991px) {
  .svg-icon.acc-footer-icon {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .svg-icon.acc-footer-icon-main {
    margin-right: -3px;
  }
}

.rotate-180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.tooltip-v2__open {
  padding: 6px 6px 6px 4px;
  cursor: pointer;
}

.is--white {
  color: var(--grey-white-v2);
}

.boxes-grid-v2__modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2000;

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.9);

  opacity: 0;
  pointer-events: none;

  transition: opacity 300ms cubic-bezier(.455, .03, .515, .955);
}

.boxes-grid-v2__modal:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  z-index: 999;
}

.boxes-grid-v2__modal.active {
  opacity: 100;
  pointer-events: auto;
}

.boxes-grid-v2__modal-relative {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.boxes-grid-v2__trigger {
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.boxes-grid-v2__trigger.open {
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
}

.boxes-grid-v2__trigger.open:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  background-color: var(--black-v2);
}

.boxes-grid-v2__trigger.open:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  background-color: var(--pink-light-v2);
  color: var(--orange-v2);
}

.boxes-grid-v2__trigger.close {
  top: 1rem;
  right: 1rem;
  bottom: auto;
  z-index: 1;

  width: 40px;
  height: 40px;

  transform: rotate(45deg);

  color: var(--off-white-v2);
}

.boxes-grid-v2__trigger.close:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  background-color: var(--black-v2);
}

.boxes-grid-v2__trigger.close:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  background-color: var(--pink-light-v2);
}

@media screen and (max-width: 479px) {
  .boxes-grid-v2__trigger.close {
    top: 1rem;
    right: 2rem;
  }
}

.images-grid-v2__ico {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes-grid-v2__modal-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splide.splide-waste {
  margin-right: auto;
  margin-left: auto;
}

.splide-recycle {
  max-width: 1095px;
  margin-right: auto;
  margin-left: auto;
}

.splide.splide-dots.h-100 {
  height: 100%;
}

.h-100 {
  height: 100%;
}

@media screen and (max-width: 991px) {
  .splide.splide-mobile-dots {
    width: 100%;
  }
}

.splide.splide-mobile-dots.full-width {
  width: 100%;
}

.splide__track.splide__track__collection {
  margin-right: 8rem;
  margin-left: 8rem;
}

@media screen and (max-width: 991px) {
  .splide__track.splide__track__collection {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .splide__track.splide__track__collection {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  .splide__track.max-w-1000 {
    margin-right: auto;
    margin-left: auto;
  }
}

.boxes-grid-v2 {
  display: grid;
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .boxes-grid-v2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .boxes-grid-v2 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .boxes-grid-v2.splide__list {
    display: flex;
  }
}

.boxes-grid-v2__box {
  position: relative;
  min-height: 300px;
  padding: 1rem 1rem 6rem;
  border-radius: 8px;
  background-color: var(--grey-white-v2);
}

.boxes-grid-v2__box.splide__slide {
  min-height: 400px;
}

.boxes-grid-v2__box.splide__slide:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  background-color: var(--pink-light-v2);
}

.boxes-grid-v2__box.splide__slide:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  background-color: var(--orange-v2);
  color: var(--off-white-v2);
}

.splide__slide {
  position: relative;
}

.boxes-grid-v2__box__icon {
  margin-bottom: 2rem;
  font-size: 3.75rem;
}

.boxes-grid-v2__box__icon:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--black-v2);
}

.h10-v2 {
  color: var(--black-v2);
  font-size: 1rem;
  line-height: 150%;
}

@media screen and (max-width: 991px) {
  .h10-v2.weight--black {
    color: var(--heading-color-v2);
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .h10-v2.weight--black {
    font-size: 0.875rem;
  }
}

.h10-v2.color-heading-v2 {
  color: var(--heading-color-v2);
  font-weight: 500;
}

.h10-v2.color-heading-v2.is--bold {
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .h10-v2.color-heading-v2.is--bold.text-align--center.mobile-text-align--left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .h10-v2.color-heading-v2.is--bold.text-align--center.mobile-text-align--left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .h10-v2.color-heading-v2.is--bold.mobile-h9 {
    font-size: 1.25rem;
  }
}

.h10-v2.color-heading-v2.weight--black {
  font-weight: 900;
}

.h10-v2.color-heading-v2.is--bold-700 {
  font-weight: 700;
}

.h10-v2.color-heading-v2.lh-200 {
  line-height: 200%;
}

@media screen and (max-width: 991px) {
  .read-more-tablet {
    display: none;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .h10-v2.color-heading-v2.mobile-text-align--left {
    text-align: left;
  }
}

.h10-v2.is--red-v2 {
  color: var(--red-v2);
}

.h10-v2.is--red-v2:global(.w--current) {
  color: var(--red-v2);
}

.h10-v2.is--red-v2.lh-2 {
  line-height: 200%;
}

.h10-v2.is--dark-black-v2 {
  color: var(--dark-black-v2);
}

.h10-v2.is--dark-black-v2.text-align--center.lh-200 {
  line-height: 200%;
  font-weight: 500;
}

.h10-v2.is--dark-grey-v2 {
  color: var(--dark-grey-v2);
}

.h10-v2.is--dark-grey-v2.lh-2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--black-v2);
}

.h10-v2.is--dark-grey-v2.lh-2:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  color: var(--off-white-v2);
}

.color-inherit {
  color: inherit;
}

.h10-v2.is--dark-grey-v2.weight--medium {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .h10-v2.is--dark-grey-v2.mobile-text-align--center {
    text-align: center;
  }
}

.text-align--left {
  text-align: left;
}

.h10-v2.lh-2 {
  line-height: 200%;
}

.h10-v2.mb-1 {
  margin-bottom: 1rem;
}

.h10-v2.mb-1.mt-1 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.h10-v2.is--white-v2 {
  color: var(--off-white-v2);
}

.h10-v2.is--white-v2.lh-160 {
  line-height: 160%;
}

@media screen and (max-width: 991px) {
  .h10-v2.is--white-v2.weight--black {
    color: var(--off-white-v2);
    font-weight: 900;
  }
}

.h10-v2.is--white-v2.weight--bold.lh-200 {
  line-height: 200%;
}

.h10-v2.is--white-v2.text-align--center.lh-200 {
  line-height: 200%;
}

@media screen and (max-width: 479px) {
  .h10-v2.is--white-v2.text-align--center.mobile-fs10 {
    font-size: 0.625rem;
  }
}

.h10-v2.weight--medium {
  font-weight: 500;
}

.h10-v2.weight--medium.color-inherit {
  color: inherit;
}

.h10-v2.lh-200 {
  line-height: 200%;
}

.h10-v2.lh-200.color-heading-v2 p {
  margin-bottom: 0rem;
}

.h10-v2.is--black-2-v2 {
  color: var(--black-2-v2);
}

@media screen and (max-width: 767px) {
  .h10-v2.is--black-2-v2.lh-2.m-text-align--left {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .h10-v2.is--black2-v2.mobile-h12 {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 479px) {
  .h10-v2.is--black2-v2.mobile-h12 {
    font-size: 0.75rem;
  }
}

.h10-v2.is--dark-grey {
  color: var(--dark-grey-v2);
}

.boxes-grid-v2__modal-wrap {
  display: none;
}

.boxes-grid-v2__modal-content {
  position: relative;

  display: flex;
  overflow: scroll;
  width: 100%;
  max-height: 90vh;
  max-width: 50rem;
  padding: 8rem 5rem 5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  border-radius: 8px;

  background-color: var(--grey-white-v2);
}

.boxes-grid-v2__modal-content:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  background-color: var(--pink-light-v2);
}

.boxes-grid-v2__modal-content:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  background-color: var(--orange-v2);
}

@media screen and (max-width: 767px) {
  .boxes-grid-v2__modal-content {
    max-width: 90%;
    padding: 4rem 1rem 1rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.boxes-grid-v2__modal-content__icon {
  font-size: 7.5rem;
}

@media screen and (max-width: 767px) {
  .boxes-grid-v2__modal-content__icon {
    font-size: 4rem;
  }
}

.h8-v2 {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: var(--heading-font-v2);
  font-size: 1.5rem;
  line-height: 2;
  font-weight: var(--font-weight-400);
}

@media screen and (max-width: 991px) {
  .h8-v2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .h8-v2.is--black-v2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .h8-v2.is--black-v2.text-align--center.mobile-h10-v2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .h8-v2.is--black-v2.tablet-text-align--center.mobile-h10-v2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .h8-v2.is--black-v2.mobile-h10-v2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .h8-v2.is--dark-black-v2.mobile-h8-bigger {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .h8-v2.weight--black.color-heading-v2.mobile-h10 {
    line-height: 1.5;
  }
}

.h8-v2.weight--black.color-heading-v2.mobile-h10.hidden-above-mobile {
  display: none;
}

@media screen and (max-width: 479px) {
  .h8-v2.weight--black.color-heading-v2.mobile-h10.hidden-above-mobile {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .hidden-on-mobile {
    display: none;
  }
}

.h8-v2.color-heading-v2.lh-15 {
  line-height: 1.5;
}

.h8-v2.is--white-v2.weight--black.text-align--center.lh-125 {
  line-height: 1.25;
}

@media screen and (max-width: 991px) {
  .h8-v2.is--white-v2.is--tablet-bigger {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .h8-v2.is--white-v2.lh-150 {
    line-height: 1.5;
  }
}

.h8-v2.is--bold {
  color: var(--dark-grey-v2);
  font-weight: var(--font-weight-900);
}

.h8-v2.is--bold.is--white-v2 {
  color: var(--off-white-v2);
}

@media screen and (max-width: 479px) {
  .h8-v2.is--bold.is--white-v2.mobile-text-right {
    text-align: right;
  }
}

@media screen and (max-width: 991px) {
  .h8-v2.is--bold.is--white-v2.lh-166 {
    line-height: 1;
  }
}

@media screen and (max-width: 991px) {
  .h8-v2.is--bold.is--white-v2.lh-166.hidden-tablet {
    line-height: 1;
  }
}

@media screen and (max-width: 991px) {
  .h8-v2.is--bold.is--white-v2.lh-166.hidden-desktop.visible-tablet {
    line-height: 1;
  }
}

@media screen and (max-width: 991px) {
  .h8-v2.is--bold.is--white-v2.lh-166.hidden-desktop.visible-tablet.mobile-fs20 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .h8-v2.is--bold.is--white-v2.lh-166.mobile-fs14 {
    font-size: 0.875rem;
  }
}

.h8-v2.is--bold.is--pink-v2 {
  color: var(--pink-v2);
}

.h8-v2.is--bold.is--orange-v2 {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 479px) {
  .h8-v2.is--bold.is--orange-v2 {
    color: var(--heading-color-v2);
  }
}

.is--orange-v2 {
  color: var(--orange-v2);
}

.h8-v2.is--red-v2.lh-150 {
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .h8-v2.is--red-v2.lh-150.mobile-24.mb-8 {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  .h8-v2.mobile-h8-v2 {
    font-size: 1.5rem;
  }
}

.boxes-grid-v2__modal-content__inner {
  display: flex;
  padding-bottom: 0px;
  padding-left: 2.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 767px) {
  .boxes-grid-v2__modal-content__inner {
    padding-left: 1rem;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-center.hidden-desktop {
  display: none;
}

@media screen and (max-width: 991px) {
  .flex-center.hidden-desktop {
    display: flex;
  }
}

.h11-v2 {
  color: var(--black-v2);
  font-size: 0.875rem;
  line-height: 2.29;
  font-weight: 500;
}

.h11-v2.is--blue {
  color: var(--heading-color-v2);
}

.h11-v2.link-red {
  color: var(--red-v2);
  font-weight: 900;
}

.h11-v2.color-heading-v2 {
  color: var(--heading-color-v2);
  font-weight: var(--font-weight-400);
}

.h11-v2.color-heading-v2.weight--black {
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .h11-v2.color-heading-v2.weight--black.mobile-red {
    color: var(--red-v2);
  }
}

.h11-v2.lh-200 {
  line-height: 200%;
}

.h11-v2.is--white-v2 {
  color: var(--off-white-v2);
}

.h11-v2.is--white-v2.weight--black {
  font-weight: 900;
}

.h11-v2.is--white-v2.lh-170 {
  line-height: 170%;
}

.h11-v2.is--white-v2.relative-10.text-align--center.lh-116 {
  line-height: 1.16;
}

@media screen and (max-width: 991px) {
  .h11-v2.is--white-v2.mobile-is--black-v2 {
    color: var(--dark-black-v2);
  }
}

@media screen and (max-width: 767px) {
  .h11-v2.is--white-v2.mobile-is--black-v2 {
    font-weight: 700;
  }
}

.h11-v2.inherit {
  color: inherit;
  font-weight: inherit;
}

.h11-v2.is--dark-grey {
  color: var(--dark-grey-v2);
}

.smallheading-v2 {
  color: var(--heading-color-v2);
  font-size: 0.875rem;
  line-height: 200%;
  font-weight: 900;
  letter-spacing: 3.36px;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

#w-node-_33abc2a6-facd-6c9a-574d-a300df45bfe5-df45bfb4 {
}
#w-node-_33abc2a6-facd-6c9a-574d-a300df45c00b-df45bfb4 {
}
#w-node-_33abc2a6-facd-6c9a-574d-a300df45c029-df45bfb4 {
}
#w-node-_33abc2a6-facd-6c9a-574d-a300df45c041-df45bfb4 {
}
#w-node-_33abc2a6-facd-6c9a-574d-a300df45c05f-df45bfb4 {
}
#w-node-_33abc2a6-facd-6c9a-574d-a300df45c05f-df45bfb4:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
}