.section-spacing:where(.w-variant-5e341d84-d5b3-e9a3-c574-6397bbe46066) {
  padding-top: var(--_spacing---64px);
  padding-bottom: var(--_spacing---64px);
}

.section-spacing:where(.w-variant-85ceec97-647a-09d9-5c95-9acc4c377648) {
  padding-top: var(--_spacing---64px);
}

.section-spacing:where(.w-variant-4f38ae9f-4084-83c1-8efb-466e9a6003cf) {
  padding-bottom: var(--_spacing---64px);
}

.section-spacing:where(.w-variant-ae7a8404-7376-7008-721a-c8f958d14a55) {
  padding-top: var(--_spacing---32px);
}

.section-spacing:where(.w-variant-3e5d60d0-75f9-a1c0-ea27-592526cb961e) {
  padding-top: var(--_spacing---32px);
  padding-bottom: var(--_spacing---32px);
}

@media screen and (max-width: 767px) {
  .section-spacing:where(.w-variant-5e341d84-d5b3-e9a3-c574-6397bbe46066) {
    padding-top: var(--_spacing---32px);
    padding-bottom: var(--_spacing---32px);
  }
}

@media screen and (max-width: 767px) {
  .section-spacing:where(.w-variant-85ceec97-647a-09d9-5c95-9acc4c377648) {
    padding-top: var(--_spacing---32px);
  }
}

@media screen and (max-width: 767px) {
  .section-spacing:where(.w-variant-4f38ae9f-4084-83c1-8efb-466e9a6003cf) {
    padding-bottom: var(--_spacing---32px);
  }
}

@media screen and (max-width: 767px) {
  .section-spacing:where(.w-variant-3e5d60d0-75f9-a1c0-ea27-592526cb961e) {
    padding-top: var(--_spacing---16px);
    padding-bottom: var(--_spacing---16px);
  }
}

.space-8px {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}