.section {
  position: relative;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section.section-split__color {
  background-color: var(--section-background);
}

.section.section-split__color.section--spacing-3 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.section.px--xs {
  padding-top: 42px;
  padding-bottom: 42px;
}

.section--spacing-1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.section.section--spacing-4 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .section.section--spacing-4 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .section.section--spacing-4 {
    margin-top: 10px;
  }
}

.section.section--spacing-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.section--spacing-3 {
  margin-top: 40px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .section.section-hero-subpage {
    padding-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .section.section-hero-subpage {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section.section-hero-home {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.container {
  width: 100%;
  max-width: 1199px;
  padding-right: 16px;
  padding-left: 16px;
}

.container.section-split__container {
  position: relative;
  z-index: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 991px) {
  .container.section-split__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .container.section-split__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .container.container--slider-mobile {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.container.of--hidden {
  overflow: hidden;
}

.container.z-2 {
  position: relative;
  z-index: 2;
}

.container.is--block {
  display: block;
}

.container.container--no-padd {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-right: 0px;
  padding-left: 0px;
}

.container.is--relative {
  position: relative;
  z-index: 1;
}

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-v.is--left {
  align-items: flex-start;
  text-align: left;
}

.flex-v.gap--16 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.flex-v.mb-32 {
  margin-bottom: 32px;
}

.mb-32 {
  margin-bottom: 2rem;
}

.flex-v.mt-64 {
  margin-top: 64px;
}

@media screen and (max-width: 991px) {
  .flex-v.mt-64 {
    margin-top: 32px;
  }
}

.text-color--body {
  color: var(--body-color);
}

.divider {
  display: inline-block;
  width: 70px;
  height: 5px;
  margin-top: 15px;
  margin-bottom: 30px;

  background-color: var(--primary-color);
}

.masonry-gallery {
  display: grid;
  height: 535px;
  grid-auto-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

@media screen and (max-width: 767px) {
  .masonry-gallery {
    display: block;
    height: 250px;
  }
}

.masonry-gallery.swiper-wrapper {
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 767px) {
  .masonry-gallery.swiper-wrapper {
    display: flex;
    height: 250px;
    flex-wrap: nowrap;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.swiper-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.masonry-gallery__col__item {
  position: relative;
  overflow: hidden;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .masonry-gallery__col__item {
    flex: 0 auto;
  }
}

.masonry-gallery__col__item.swiper-slide {
  display: block;
}

@media screen and (max-width: 767px) {
  .masonry-gallery__col__item.swiper-slide {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}

.masonry-gallery__col__item__link {
  display: block;
  width: 100%;
  height: 100%;
}

.masonry-gallery__col__item__bg {
  overflow: clip;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.masonry-gallery__underline {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;

  width: 100%;
  height: 5px;

  background-color: var(--primary-color);
}

@media screen and (max-width: 991px) {
  .masonry-gallery__underline {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .masonry-gallery__underline {
    display: none;
  }
}

.mobile-swiper-pagination {
  display: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .mobile-swiper-pagination {
    display: flex;
  }
}

.hidden-html {
  display: none;
}

#w-node-_11c74e71-e70c-7af1-44de-8cb162a75805-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 5;
  grid-row-end: span 5;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a75806-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 5;
  grid-row-end: span 5;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a75809-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 8;
  grid-row-end: span 8;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a7580a-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 8;
  grid-row-end: span 8;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a7580d-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 7;
  grid-row-end: span 7;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a7580e-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 7;
  grid-row-end: span 7;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a75811-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 6;
  grid-row-end: span 6;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a75812-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 6;
  grid-row-end: span 6;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a75815-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 8;
  grid-row-end: span 8;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a75816-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 8;
  grid-row-end: span 8;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a75819-62a757fa {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 5;
  grid-row-end: span 5;
}
#w-node-_11c74e71-e70c-7af1-44de-8cb162a7581a-62a757fa {
  order: 9999;
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 5;
  grid-row-end: span 5;
}