.container-v2 {
  width: 100%;
  max-width: 1712px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5rem;
  padding-left: 5rem;
}

.container-v2:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  background-color: var(--pink-light-v2);
}

@media screen and (max-width: 991px) {
  .container-v2 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .container-v2.pr-0-mobile {
    padding-right: 0rem;
  }
}

.bg-grey-white {
  background-color: var(--grey-white-v2);
}

.container-v2.relative {
  position: relative;
  z-index: 2;
}

.container-v2.sitemap {
  max-width: 1280px;
}

@media screen and (min-width: 1440px) {
  .container-v2.sitemap {
    max-width: 1504px;
  }
}

.sitemap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

@media screen and (max-width: 767px) {
  .px-0-mobile {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .container-v2.ptx-0 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.relative-10 {
  position: relative;
  z-index: 10;
}

.relative-100 {
  position: relative;
  z-index: 100;
}

.container-v2.ptx-0.pdx-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media screen and (max-width: 991px) {
  .container-v2.ptx-0.pdx-24 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .container-v2.px-0-tablet {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .px-0-tablet {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.py-120 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

@media screen and (max-width: 991px) {
  .py-120 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

.py-120.pt-0 {
  padding-top: 0rem;
}

.py-120.pt-40 {
  padding-top: 2.5rem;
}

.pt-40 {
  padding-top: 2.5rem;
}

@media screen and (max-width: 767px) {
  .py-120.tablet-pb-0 {
    padding-bottom: 0rem;
  }
}

.pt-40.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex {
  display: flex;
}

.pt-40.pb-80 {
  padding-bottom: 5rem;
}

.pb-80 {
  padding-bottom: 5rem;
}

.images-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .images-grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }
}