.section-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 991px) {
  .section-wrapper {
    flex-direction: column;
    grid-column-gap: 56px;
    grid-row-gap: 56px;
  }
}

@media screen and (max-width: 767px) {
  .section-wrapper {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

.section-wrapper.section-wrapper--reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 991px) {
  .section-wrapper.section-wrapper--reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .section-wrapper.section-wrapper--reverse {
    flex-direction: column;
  }
}

.section-split__media {
  display: block;
  width: 100%;
  align-self: center;
  flex: auto;
}

@media screen and (min-width: 1280px) {
  .section-split__media {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media screen and (max-width: 991px) {
  .section-split__media {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section-split__media {
    margin-bottom: 0px;
  }
}

.section-split__media.section-split__left-vertical-img {
  align-self: center;
}

@media screen and (max-width: 991px) {
  .section-split__media.section-split__left-vertical-img {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

.section-split__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 50% 50%;
}

.section-split__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 auto;
}

@media screen and (max-width: 991px) {
  .section-split__content {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section-split__content {
    margin-top: 0px;
  }
}

.section-split__content.section-split__content--swiper {
  display: block;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media screen and (min-width: 1280px) {
  .section-split__content.section-split__content--swiper {
    display: flex;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .section-split__content.section-split__content--swiper {
    padding-right: 0px;
  }
}

.section-split__content-upper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.section-split__content-header {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.eyebrow {
  color: var(--body-color);
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}

.body {
  margin-bottom: 35px;
  padding-bottom: 0px;
  color: var(--body-color-light);
  font-size: 24px;
  line-height: 1.5;
}

@media screen and (min-width: 1280px) {
  .body {
    font-size: 24px;
    line-height: 36px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 26px;
  }
}

.body.is--blog-title {
  margin-bottom: 8px;
  font-family: PtSans;
  color: var(--heading-color);
  font-weight: 400;
}

.body.margin--bot-0 {
  margin-bottom: 0px;
}

.margin-top--auto {
  display: none;
  margin-top: auto;
}

@media screen and (min-width: 1280px) {
  .margin-top--auto {
    display: none;
  }
}