.custom-slide-pagination {
  display: flex;
  padding-top: var(--_spacing---16px);
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.custom-slide-pagination__dot {
  width: 8px;
  height: 4px;
  border-radius: 0.625rem;
  background-color: #e1e1e1;
}

.custom-slide-pagination__dot.is--active {
  width: 40px;
  background-color: var(--dark-grey-v2);
}