.subnav-v2 {
  position: fixed;
  z-index: 900;

  display: flex;
  width: 100%;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  justify-content: space-between;
  align-items: center;

  background-color: var(--off-white-v2);
}

.subnav-v2.subnav-v2-offers {
  padding-right: 7.5rem;
  padding-left: 7.5rem;
}

@media screen and (max-width: 991px) {
  .subnav-v2.subnav-v2-offers {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .subnav-v2.subnav-v2-offers {
    position: absolute;
  }
}

.subnav-v2.static {
  position: static;
}

.subnav-v2.subnav-v2-loc {
  padding-right: 7.5rem;
  padding-left: 7.5rem;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .subnav-v2.subnav-v2-loc {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.subnav-loc-v2__inner {
  z-index: 900;

  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border: 1px solid var(--grey-white-v2);
  border-radius: 100px;
}

@media screen and (max-width: 991px) {
  .subnav-loc-v2__inner {
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    justify-content: space-between;
    align-items: stretch;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    border-right-style: none;
    border-left-style: none;
    border-radius: 0px;
  }
}

@media screen and (max-width: 479px) {
  .subnav-loc-v2__inner {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }
}

.subnav-js-scroll-direction {
  display: none;
}

.subnav-css-js {
  display: none;
}

.pdp-subnav {
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 991px) {
  .pdp-subnav {
    margin-left: 0px;
  }
}

.pdp-subnav.is--loc {
  border-right: 1px solid var(--light-grey-v2);
}

@media screen and (max-width: 991px) {
  .pdp-subnav.is--loc {
    display: flex;
    justify-content: center;
  }
}

.subnav-loc__menu__location {
  display: flex;
  padding: 0.375rem 1.5rem;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  color: var(--heading-color);
  font-size: 0.875rem;
  line-height: 2;
  font-weight: 500;
  white-space: nowrap;
}

.subnav-loc__menu__location:hover {
  color: var(--red-v2);
}

@media screen and (max-width: 991px) {
  .subnav-loc__menu__location {
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .subnav-loc__menu__location {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    font-size: 0.75rem;
  }
}

.subnav-loc__menu__location.hidden {
  display: none;
}

.hidden {
  display: none;
}

.h11-v2 {
  color: var(--black-v2);
  font-size: 0.875rem;
  line-height: 2.29;
  font-weight: 500;
}

.ov-subnav-wrap {
  position: relative;
}

.ov-subnav__trigger {
  position: relative;

  display: none;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  color: var(--red-v2);
}

@media screen and (max-width: 991px) {
  .ov-subnav__trigger {
    display: flex;
    padding: 0.7rem 1rem;
  }
}

.ov-subnav__trigger.visible {
  display: flex;
}

@media screen and (max-width: 991px) {
  .ov-subnav__trigger.is--loc {
    color: var(--heading-color-v2);
  }
}

.subheading-v2 {
  margin-top: 0px;
  margin-bottom: 0rem;

  color: var(--red-v2);
  font-size: 0.875rem;
  line-height: 228%;
  font-weight: 900;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .hidden-tablet {
    display: none;
  }
}

.subheading-v2.is--grey {
  color: var(--dark-grey-v2);
}

@media screen and (max-width: 767px) {
  .subheading-v2.is--divider {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .subheading-v2.is--center-m {
    text-align: center;
  }
}

.text-align--center {
  text-align: center;
}

.subheading-v2.text-align--center.mb-1 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  .subheading-v2.text-align--center.relative-top-2 {
    position: relative;
    top: 1.5rem;
  }
}

.is--white-v2 {
  color: var(--off-white-v2);
}

.subheading-v2.is--white-v2.text-align--center.mb-8 {
  margin-bottom: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.subheading-v2.is--white-v2.text-align--center.my-8 {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.color-heading-v2 {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 767px) {
  .color-heading-v2 {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.is--pink-v2 {
  color: var(--pink-v2);
}

.is--pink-v2:where(.w-variant-3729af6f-b3eb-050d-6e94-f09113153fe0) {
  color: var(--pink-v2);
}

.is--pink-v2:where(.w-variant-1ab405b6-8343-258a-0056-6d1b51b2f776) {
  color: var(--heading-color-v2);
}

.is--dark-black-v2 {
  color: var(--dark-black-v2);
}

.is--black-v2 {
  color: var(--black-v2);
}

.subheading-v2.is--black-v2.text-align--center.style-2 {
  font-size: 0.75rem;
}

.color-inherit {
  color: inherit;
}

.subheading-v2.color-inherit.mb-24 {
  margin-bottom: 1.5rem;
}

.subheading-v2.color-inherit.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.subheading-v2.mb-24 {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 991px) {
  .subheading-v2.mb-24 {
    margin-bottom: 0.75rem;
  }
}

.subheading-v2.mb-24.color-switch {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 991px) {
  .subheading-v2.mb-24.color-switch {
    color: var(--off-white-v2);
  }
}

@media screen and (max-width: 767px) {
  .subheading-v2.mb-24.color-switch {
    color: var(--off-white-v2);
  }
}

.subheading-v2.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 991px) {
  .subheading-v2.my-24 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

.subheading-v2.my-24.color-switch {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 991px) {
  .subheading-v2.my-24.color-switch {
    color: var(--off-white-v2);
  }
}

@media screen and (max-width: 767px) {
  .subheading-v2.my-24.color-switch {
    color: var(--off-white-v2);
  }
}

.subheading-v2.mb-8.color-switch {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 991px) {
  .subheading-v2.mb-8.color-switch {
    color: var(--off-white-v2);
    text-align: center;
  }
}

.subheading-v2.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.subheading-v2.my-8.color-switch {
  color: var(--heading-color-v2);
}

@media screen and (max-width: 991px) {
  .subheading-v2.my-8.color-switch {
    color: var(--off-white-v2);
    text-align: center;
  }
}

.subheading-v2.is--loc {
  color: var(--heading-color-v2);
  letter-spacing: 0px;
  text-transform: none;
}

.svg-icon {
  display: flex;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  font-size: 1em;
}

.svg-icon.dropdown-v2-menu-icon {
  width: auto;
  height: 50px;
}

.dropdown-v2-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  font-size: 0.5rem;
}

@media screen and (max-width: 991px) {
  .dropdown-v2-icon {
    display: flex;
  }
}

.svg-icon.acc-footer-icon {
  display: none;
}

@media screen and (max-width: 991px) {
  .svg-icon.acc-footer-icon {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .svg-icon.acc-footer-icon-main {
    margin-right: -3px;
  }
}

.rotate-180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.tooltip-v2__open {
  padding: 6px 6px 6px 4px;
  cursor: pointer;
}

.is--white {
  color: var(--grey-white-v2);
}

.ov-subnav {
  display: flex;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

@media screen and (max-width: 991px) {
  .ov-subnav {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

.ov-subnav.is--loc {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
}

.subnav-loc__menu__link {
  display: flex;
  padding: 0.375rem 1.5rem;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-radius: 20px;

  font-family: var(--heading-font-v2);
  color: var(--heading-color-v2);
  font-size: 0.875rem;
  line-height: 2;
  font-weight: 500;
  white-space: nowrap;
}

.subnav-loc__menu__link:hover {
  color: var(--red-v2);
}

.subnav-loc__menu__link:global(.w--current) {
  background-color: var(--grey-white-v2);
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .subnav-loc__menu__link {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.subnav-loc__menu__link.hidden {
  display: none;
}

.subnav-loc__menu__link.is--contact {
  padding-right: 0rem;
  padding-left: 0rem;
  flex: 0 0 auto;
}

.subnav__contact {
  display: block;
  width: 40px;
  height: 40px;
}

.ov-subnav__anchors {
  position: relative;
  display: flex;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 991px) {
  .ov-subnav__anchors {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

.ov-subnav__anchors.column {
  flex-direction: column;
  flex-wrap: nowrap;
}

.ov-subnav__anchors__bar {
  position: absolute;
}