.step-item {
  display: flex;
  width: 275px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  color: var(--body-color);
}

@media screen and (min-width: 1280px) {
  .step-item {
    width: 320px;
  }
}

@media screen and (max-width: 991px) {
  .step-item {
    width: 100%;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .step-item {
    width: 235px;
  }
}

.step-item.step-item--main {
  width: 375px;
}

@media screen and (min-width: 1280px) {
  .step-item.step-item--main {
    width: 400px;
  }
}

@media screen and (max-width: 991px) {
  .step-item.step-item--main {
    width: 100%;
  }
}

.step-item__wrapper {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100%;
}

.step-item__inner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: var(--white);
}

.step-item__img {
  display: block;
  width: 33%;
  height: auto;
  max-height: 64px;
  max-width: 64px;
  margin-bottom: 15px;

  object-fit: contain;
  object-position: 50% 50%;
}

@media screen and (max-width: 991px) {
  .step-item__img {
    max-height: 48px;
    max-width: 48px;
  }
}

.step-item__img.step-item__img--full {
  width: 100%;
  max-height: none;
  max-width: 250px;
}

.step-item__number {
  position: absolute;
  left: auto;
  top: 50px;
  right: -30px;
  bottom: auto;

  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: var(--primary-color);

  color: var(--white);
  font-size: 36px;
}

@media screen and (max-width: 991px) {
  .step-item__number {
    right: -15px;
    width: 50px;
    height: 50px;
    font-size: 22px;
  }
}

.step-item__number.step-item__number--left {
  left: -30px;
  top: 50px;
  right: auto;
  bottom: auto;
}

@media screen and (max-width: 991px) {
  .step-item__number.step-item__number--left {
    left: -15px;
  }
}

@media screen and (max-width: 767px) {
  .step-item__number.step-item__number--left {
    left: auto;
    top: 50px;
    right: -15px;
    bottom: auto;
  }
}

#w-node-_88b6c427-1ac7-3080-4bb8-5a14a16bcce6-a16bcce6 {
}